* {
  margin:0;
  padding:0;
}


body {
  color : gold;
  background-color: blueviolet;
  
}

.publicidadApp {
  color: white;
  background-color: red;

}

.footer {
  color: bisque;
  background-color: brown;

}
